<h2 class="registration_title">サインアップ</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="registration_field"><%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "off" %></div>
  </div>

  <div class="field">
    <div class="registration_field"><%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="field">
    <div class="registration_field_1">
      <div class="registration_field"><%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %></div>
    </div>
  </div>

  <div class="field">
      <div class="registration_field"><%= f.label :確認用パスワード %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  </div>

  <div class="actions">
    <%= f.submit "サインアップ" %>
  </div>
<% end %>

<div class="registration_under"><%= render "devise/shared/links" %></div>
