<div class="container-fluid">
  <%= form_with(model: @musical_instrument, local: true ,url: choose_new_or_edit ) do |form| %>
    <% if musical_instrument.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(musical_instrument.errors.count, "つのエラーにより") %> 投稿に失敗しました </h2>

      <ul>
        <% musical_instrument.errors.full_messages.each do |message| %>
        <li class="errors_message"><%= message %></li>
        <% end %>
      </ul>
      </div>
    <% end %>

  <div class="field">
    <div class="new_field"><%= form.label :品名 %><br />
    <%= form.text_field :name, id: :musical_instrument_name %>
    </div>
  </div>

  <div class="field">
    <div class="new_field"><%= form.label :説明 %><br />
    <%= form.text_area :content, id: :musical_instrument_content %>
    </div>
  </div>

  <div class="field">
      <div class="new_field"><%= form.label :画像 %><br />
        <%= image_tag(@musical_instrument.image.url) if @musical_instrument.image.url %>
        </div>
        <div class="field_image"><%= form.file_field :image, id: :musical_instrument_image %>
      </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% end %>
</div>
