<p id="notice"><%= notice %></p>

<h1>Musical Instruments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musical_instruments.each do |musical_instrument| %>
      <tr>
        <td><%= link_to 'Show', musical_instrument %></td>
        <td><%= link_to 'Edit', edit_musical_instrument_path(musical_instrument) %></td>
        <td><%= link_to 'Destroy', musical_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Musical Instrument', new_musical_instrument_path %>
