<% if @musical_instrument.lender_id != current_user.id && @musical_instrument.borrower_id.nil? %>

  <p>
    <strong>User_name:</strong>
    <%= @musical_instrument.lender.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @musical_instrument.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @musical_instrument.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @musical_instrument.image %>
  </p>

  <p><%= link_to 'シェアする', musical_instrument_share_path(@musical_instrument.id), method: :post %></p>
  <p><%= link_to 'Edit', edit_musical_instrument_path(@musical_instrument) %></p>
  <p><%= link_to 'Destroy', @musical_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <% if @favorite.present? %>
    <%= link_to '気になるを解除する', favorite_path(id: @favorite.id), method: :delete %>
  <% else %>
    <%= link_to '気になる', favorites_path(musical_instrument_id: @musical_instrument.id), method: :post %>
  <% end %>

<% elsif @musical_instrument.lender_id == current_user.id && @musical_instrument.borrower_id.present? %>

  <p>
    <strong>User_name:</strong>
    <%= @musical_instrument.lender.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @musical_instrument.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @musical_instrument.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @musical_instrument.image %>
  </p>

  <p><%= link_to 'シェアを解除', musical_instrument_share_path(@musical_instrument.id), method: :post %></p>
  <p><%= link_to 'Edit', edit_musical_instrument_path(@musical_instrument) %></p>
  <p><%= link_to 'Destroy', @musical_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% elsif @musical_instrument.lender_id == current_user.id && @musical_instrument.borrower_id.nil? %>

  <p>
    <strong>User_name:</strong>
    <%= @musical_instrument.lender.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @musical_instrument.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @musical_instrument.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @musical_instrument.image %>
  </p>

  <p><%= link_to 'Edit', edit_musical_instrument_path(@musical_instrument) %></p>
  <p><%= link_to 'Destroy', @musical_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<% else %>

  <p>
    <strong>User_name:</strong>
    <%= @musical_instrument.lender.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @musical_instrument.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @musical_instrument.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @musical_instrument.image %>
  </p>

  <% if @favorite.present? %>
    <%= link_to '気になるを解除する', favorite_path(id: @favorite.id), method: :delete %>
  <% else %>
    <%= link_to '気になる', favorites_path(musical_instrument_id: @musical_instrument.id), method: :post %>
  <% end %>

<% end %>

<%= link_to 'Back', musical_instruments_path %>
