<div class="container-fluid">
  <% if @musical_instrument.lender_id != current_user.id && @musical_instrument.borrower_id.blank? %>
    <ul class="show">
      <div class="show_box">
        <div class="show_img"><%= image_tag @musical_instrument.image %></div>
          <div class="show_area">
            <div class="show_text">

            <li>
              <strong>出品者名:</strong>
              <%= @musical_instrument.lender.name %>
            </li>
            <li>
              <strong>品名:</strong>
              <%= @musical_instrument.name %>
            </li>
            <li>
              <strong>商品説明:</strong>
              <%= @musical_instrument.content %>
            </li>

            <li><%= link_to 'シェアする', musical_instrument_share_path(@musical_instrument.id), method: :post %></li>
            <li><%= link_to '気になる', favorites_path(musical_instrument_id: @musical_instrument.id), method: :post %></li>
            <li><%= link_to '戻る', musical_instruments_path %></li>

            </div>
          </div>
      </div>
    </ul>

  <% elsif @musical_instrument.lender_id == current_user.id && @musical_instrument.borrower_id.present? %>
    <ul class="show">
      <div class="show_box">
        <div class="show_img"><%= image_tag @musical_instrument.image %></div>
          <div class="show_text">

            <li>
              <strong>出品者名:</strong>
              <%= @musical_instrument.lender.name %>
            </li>
            <li>
              <strong>品名:</strong>
              <%= @musical_instrument.name %>
            </li>
            <li>
              <strong>商品説明:</strong>
              <%= @musical_instrument.content %>
            </li>

            <li><%= link_to '戻る', musical_instruments_path %></li>
          </div>
      </div>
    </ul>

  <% elsif @musical_instrument.lender_id == current_user.id && @musical_instrument.borrower_id.nil? %>
    <ul class="show">
      <div class="show_box">
        <div class="show_img"><%= image_tag @musical_instrument.image %></div>
          <div class="show_text">

            <li>
              <strong>出品者名:</strong>
              <%= @musical_instrument.lender.name %>
            </li>
            <li>
              <strong>品名:</strong>
              <%= @musical_instrument.name %>
            </li>
            <li>
              <strong>商品説明:</strong>
              <%= @musical_instrument.content %>
            </li>

            <li><%= link_to '戻る', musical_instruments_path %></li>
          </div>
      </div>
    </ul>

  <% else %>
    <ul class="show">
      <div class="show_box">
        <div class="show_img"><%= image_tag @musical_instrument.image %></div>
          <div class="show_text">

            <li>
              <strong>出品者名:</strong>
              <%= @musical_instrument.lender.name %>
            </li>
            <li>
              <strong>品名:</strong>
              <%= @musical_instrument.name %>
            </li>
            <li>
              <strong>商品説明:</strong>
              <%= @musical_instrument.content %>
            </li>

            <li><%= link_to '気になる', favorites_path(musical_instrument_id: @musical_instrument.id), method: :post %></li>
            <li><%= link_to '戻る', musical_instruments_path %></li>

          </div>
      </div>
    </ul>

  <% end %>
</div>
