<h2><%= @current_user.name %>さんからお問い合わせがありました！！</h2>

<h4>件名：</h4>
<p><%=  @contact.title %></p>

<h4>お問い合わせ内容：</h4>
<p><%= @contact.content %></p>

<h4>お問い合わせ主の連絡先：</h4>
<% if @musical_instrument.borrower.present? %>
  <p>email:<%= @musical_instrument.borrower.email %></p>
<% else %>
  <p>email：<%= @current_user.email %></p>
<% end %>
