<h1><%= @user.name %></h1>

<% if @user.lended_musical_instruments.present? %>
  <h3>貸しているリスト</h3>
  <% @user.lended_musical_instruments.each do |mypage_1| %>

  <p>品名：<%= mypage_1.name %></p>

  <p>商品説明：<%= mypage_1.content %></p>

  <p><%= image_tag mypage_1.image %></p>

  <% if mypage_1.borrower.blank? %>
    <p>貸し出し中の有無：貸り手無し</p>
    <p><%= link_to 'Edit', edit_musical_instrument_path(mypage_1) %></p>
    <p><%= link_to 'Destroy', @musical_instrument, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></p>
  <% else %>
    <p>貸し出し中の有無：貸し出し中のユーザー名 : <%= mypage_1.borrower.name %></p>
    <p><%= link_to 'シェアを解除', musical_instrument_share_path(mypage_1.id), method: :post %></p>
    <p><%= link_to 'Edit', edit_musical_instrument_path(mypage_1) %></p>
    <p><%= link_to 'Destroy', @musical_instrument, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></p>
    <p><%= link_to 'お問い合わせ', new_contact_path(musical_instrument_id: mypage_1.id) %></p>
  <% end %>
<% end %>
<% end %>

<% if @user.borrowed_musical_instruments.present? %>
  <h3>借りているリスト</h3>
  <% @user.borrowed_musical_instruments.each do |mypage_2| %>

  <p>貸し手名：<%= mypage_2.lender.name %></p>

  <p>品名：<%= mypage_2.name %></p>

  <p>商品説明：<%= mypage_2.content %></p>

  <p><%= image_tag mypage_2.image %></p>

  <p><%= link_to 'お問い合わせ', new_contact_path(musical_instrument_id: mypage_2.id) %></p>
  <% end %>
<% end %>

<% if @user.favorites.present? %>
  <h3>気になるリスト</h3>
  <% @user.favorites.each do |mypage_3| %>

  <p>投稿者名：<%= mypage_3.musical_instrument.lender.name %></p>

  <p>品名：<%= mypage_3.musical_instrument.name %></p>

  <p>商品説明：<%= mypage_3.musical_instrument.content %></p>

  <p><%= image_tag mypage_3.musical_instrument.image %></p>

  <%= link_to '気になるを解除する', favorite_path(id: mypage_3.id), method: :delete %>
  <p><%= link_to 'お問い合わせ', new_contact_path(musical_instrument_id: mypage_3.musical_instrument_id) %></p>
  <% end %>
<% end %>
