<h1 class="mypage_title"><%= @user.name %>さんのページ</h1>

  <% if @user.lended_musical_instruments.present? %>
    <h3 class="mypage_list">出品リスト</h3>
      <div class="container">
        <div class="row">
          <% @user.lended_musical_instruments.each do |mypage_1| %>
            <div class="col-sm-12 col-md-6 mypage_1">
              <div class="flex_container">
                <div class="mypage_img"><%= image_tag mypage_1.image %></div>
                  <ul class="show_ul">

                  <% if mypage_1.borrower.blank? %>
                    <li class="mypage_share_non">品名：<%= mypage_1.name %></li>
                    <li class="mypage_share_non1">シェア状況：無し</li>
                    <li class="mypage_share_non1"><%= link_to '編集', edit_musical_instrument_path(mypage_1) %></li>
                    <li class="mypage_share_non1"><%= link_to '削除', musical_instrument_path(mypage_1), method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></li>
                  <% else %>
                    <li class="mypage_name">品名：<%= mypage_1.name %></li>
                    <li class="mypage_share1">シェア状況：有り</li>
                    <li class="mypage_share"><%= mypage_1.borrower.name %>さんにシェア</li>
                    <li class="mypage_share"><%= link_to 'シェアを解除', musical_instrument_share_path(mypage_1.id), method: :post %></li>
                    <li class="mypage_link"><%= link_to '編集', edit_musical_instrument_path(mypage_1) %></li>
                    <li class="mypage_destroy"><%= link_to '削除', musical_instrument_path(mypage_1), method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></li>
                    <li><%= link_to 'お問い合わせ', new_contact_path(musical_instrument_id: mypage_1.id) %></li>
                  <% end %>
                  </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @user.borrowed_musical_instruments.present? %>
    <h3 class="mypage_list">シェア中リスト</h3>
      <div class="container">
        <div class="row">
          <% @user.borrowed_musical_instruments.each do |mypage_2| %>
            <div class="col-sm-12 col-md-6 mypage_1">
              <div class="flex_container">
                <div class="mypage_img"><%= image_tag mypage_2.image %></div>
                  <ul class="show_ul">
                    <li class="mypage_share_non">品名：<%= mypage_2.name %></li>
                    <li class="mypage_share_non1">出品者名：<%= mypage_2.lender.name %></li>
                    <li class="mypage_contact"><%= link_to 'お問い合わせ', new_contact_path(musical_instrument_id: mypage_2.id) %></li>
                  </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>

  <% if @user.favorites.present? %>
    <h3 class="mypage_list">気になるリスト</h3>
      <div class="container">
        <div class="row">
          <% @user.favorites.each do |mypage_3| %>
            <div class="col-sm-12 col-md-6 mypage_1">
              <div class="flex_container">
                <div class="mypage_img"><%= image_tag mypage_3.musical_instrument.image %></div>
                  <ul class="show_ul">
                    <li class="mypage_share_non">品名：<%= mypage_3.musical_instrument.name %></li>
                    <li class="mypage_share_non1">投稿者名：<%= mypage_3.musical_instrument.lender.name %></li>
                    <li><%= link_to '気になるを解除', favorite_path(id: mypage_3.id), method: :delete %></li>
                    <li class="mypage_contact"><%= link_to 'お問い合わせ', new_contact_path(musical_instrument_id: mypage_3.musical_instrument_id) %></li>
                  </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
