<h2 class="session_title">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="session_field"><%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
    </div>
  </div>

  <div class="field">
    <div class="session_field"><%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <div class="session_field"><%= f.check_box :remember_me %>
      <%= f.label :remember_me %></div>
      </div>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<div class="session_under"><%= render "devise/shared/links" %></div>
